@font-face {
  font-family: 'Spongeboy Me Bob Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Spongeboy Me Bob Regular'), url('Spongeboy Me Bob.woff') format('woff');
  }

body {
  margin: 0;
  font-family: 'Spongeboy Me Bob Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

code {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

.particles{
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: -1;
}